<NewDataSet><Table><META_DESC><![CDATA[Dịch vụ bảo trì | Dịch vụ cho thuê chuyên viên | Dịch vụ di dời hệ thống | Dịch vụ hổ trợ khẩn cấp | Dịch vụ quản trị hệ thống | Giải pháp hạ tầng mạng | Giải pháp hệ thống bảo mật | Giải pháp hội nghị truyền hình | Giải pháp hệ thống wifi | Giải pháp hệ thống camera | Giải pháp datacenter | Giải pháp hệ thống tổng đài | Hệ thống kiểm soát cửa ra vào và chấm công | Giải pháp ảo hóa | Thiết bị văn phòng |]]></META_DESC>
<META_KEY><![CDATA[Dịch vụ bảo trì | Dịch vụ cho thuê chuyên viên | Dịch vụ di dời hệ thống | Dịch vụ hổ trợ khẩn cấp | Dịch vụ quản trị hệ thống | Giải pháp hạ tầng mạng | Giải pháp hệ thống bảo mật | Giải pháp hội nghị truyền hình | Giải pháp hệ thống wifi | Giải pháp hệ thống camera | Giải pháp datacenter | Giải pháp hệ thống tổng đài | Hệ thống kiểm soát cửa ra vào và chấm công | Giải pháp ảo hóa | Thiết bị văn phòng |]]></META_KEY>
<TITLE><![CDATA[Sunhitech - Thái Dương]]></TITLE>
<ROBOTS><![CDATA[index, follow]]></ROBOTS>
<COPYRIGHT><![CDATA[Sunhitech]]></COPYRIGHT>
<AUTHOR><![CDATA[Công ty CPTM ĐT Công Nghệ Cao Thái Dương]]></AUTHOR>
<DOMAIN><![CDATA[sunhitech.vn]]></DOMAIN>
<GENERATOR><![CDATA[]]></GENERATOR>
<GOOGLE_TRACKING><![CDATA[<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150209026-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-150209026-1');
</script>]]></GOOGLE_TRACKING>
<FB_APP_ID><![CDATA[]]></FB_APP_ID>
<FB_PAGE><![CDATA[]]></FB_PAGE>
<IMAGE><![CDATA[]]></IMAGE>
<URL><![CDATA[]]></URL>
<CONTENT_TYPE><![CDATA[]]></CONTENT_TYPE>
<SCRIPT_HEADER><![CDATA[]]></SCRIPT_HEADER>
<SCRIPT_TOP_BODY><![CDATA[]]></SCRIPT_TOP_BODY>
<SCRIPT_BOTTOM_BODY><![CDATA[]]></SCRIPT_BOTTOM_BODY>
<TWITTER_SITE><![CDATA[sunhitech]]></TWITTER_SITE>
<GOOGLE_SITE_VERIFICATION><![CDATA[D6hNg1x3oqzyew4QX-gD7jUWsCbRnbi9lvLqT3gnK0w]]></GOOGLE_SITE_VERIFICATION>
<REVISIT_AFTER>3</REVISIT_AFTER>
<MAILER><![CDATA[SMTP]]></MAILER>
<MAIL_SERVER><![CDATA[smtp.gmail.com]]></MAIL_SERVER>
<SMTP_ACCOUNT><![CDATA[info@sunhitech.vn]]></SMTP_ACCOUNT>
<SMTP_ACCOUNTPASS><![CDATA[Hitech/79]]></SMTP_ACCOUNTPASS>
<SMTP_PORT><![CDATA[587]]></SMTP_PORT>
<SMTP_AUTHENTICATION><![CDATA[1]]></SMTP_AUTHENTICATION>
<SMTP_SECURITY><![CDATA[ssl]]></SMTP_SECURITY>
<CREDENTIALS><![CDATA[]]></CREDENTIALS>
<FROM_EMAIL><![CDATA[info@sunhitech.vn]]></FROM_EMAIL>
<FROM_NAME><![CDATA[Công ty CPTM ĐT Công Nghệ Cao Thái Dương]]></FROM_NAME>
<MENU_HOME><![CDATA[578]]></MENU_HOME>
<MENU_DEFAULT><![CDATA[578]]></MENU_DEFAULT>
</Table></NewDataSet>